/* @import "tailwindcss" prefix(tw); */
@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
    --color-primary-50: #f7fee7;
    --color-primary-100: #ecfccb;
    --color-primary-200: #d9f99d;
    --color-primary-300: #bef264;
    --color-primary-400: #a3e635;
    --color-primary-500: #84cc16;
    --color-primary-600: #65a30d;
    --color-primary-700: #4d7c0f;
    --color-primary-800: #3f6212;
    --color-primary-900: #365314;
    --color-primary-950: #1a2e05;
    
    --font-sans: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-body: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
}

@custom-variant dark (&:where(.dark, .dark *));

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-pagination::after {
    @apply text-primary-400;
}

.swiper-pagination-bullet-active {
    @apply bg-primary-400;
    background-color: theme('colors.primary.400') !important;
}

/* Scrollbar styles for dark mode */
.dark ::-webkit-scrollbar {
    width: 12px;
  }
  
  .dark ::-webkit-scrollbar-track {
    background: #3f6212; /* A dark gray background for the track */
  }
  
  .dark ::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* A medium gray for the thumb */
    border-radius: 6px;
    border: 3px solid #1f2937; /* Creates a border that matches the track color */
  }
  
  .dark {
    scrollbar-color: #ffffff theme('colors.primary.800'); /* Firefox scrollbar styling */
    scrollbar-width: thin;
  }
